*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#081420;
color:#fff;
min-height:100vh;
}

header{
text-align:center;
padding:20px;
background:#111827;
border-bottom:2px solid #00e676;
}

header h1{
font-size:32px;
color:#00e676;
}

header p{
margin-top:8px;
color:#94a3b8;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
padding-bottom:90px;
}

.card{
background:#162235;
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 0 15px rgba(0,0,0,.3);
}

button{
width:100%;
padding:15px;
margin-top:15px;
background:#00c853;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
color:white;
}

button:active{
transform:scale(.98);
}

.player-card{
background:#22354d;
padding:15px;
border-radius:10px;
margin-top:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.online{
color:#00ff88;
font-size:14px;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
display:flex;
justify-content:space-around;
background:#111827;
padding:15px;
border-top:1px solid #00e676;
}

.bottom-nav a{
text-decoration:none;
font-size:24px;
color:white;
}

.hidden{
display:none;
}
